nav {
  height: 120px;
  background-color: #a88203;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

p span {
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}